{namespace jamout.templates.AdminPanel}

/**
 * Main Frame
 */
{template .frame autoescape="strict"}
		<div ng-controller='adminCtrl'>
		  <div class="container">
		  	    <h1>Admin Panel</h1>
           		<h2>Total users are: <span ng-bind="totalProfiles"></h2>
           		<h2>Total live streams are: <span ng-bind="totalRooms"></h2>
           		<h2>Total guest list: <span ng-bind="totalGuestList"></h2>
           </div>
        </div>
{/template}