{namespace jamout.templates.Background}

/**
 * Background screen animation
 * Main Frame
 */
{template .frame}

     <!-- Source Credit http://giphy.com/gifs/smoke-liquid-vapor-3o85xBRaD7BrndxnTG -->
     <div id="background"></div> 
{/template}