{namespace jamout.templates.chatMessage}

/**
 * Main Frame
 */
{template .frame}
           <ul>
               <li ng-repeat="message in messages | limitTo: -3 track by $index ">
              
                     [[message.username]] - [[message.message]]	
               </li>
          </ul>

{/template}