{namespace jamout.templates.Profile}

/**
 * Main Frame
 */
{template .frame}
 <div ng-controller="profileCtrl">
    
   <p>Profile Image</p>
   <p>Profile Details</p>
   <p>Broadcast Form</p>

 </div>
{/template}
