//import styles
@import "compass/reset";
@import "bootstrap";
@import url(https://fonts.googleapis.com/css?family=Fredoka+One);

/****
*LOGO
*****/
$logo: 'jlogo3d.png';

/*******************
*DEFAULT VIDEO FILTER
********************/

$Brightfilter : brightness(110%) contrast(90%);

/*****
*Colors
******/

$white: #FFFFFF;
$black: #1C1C1C;
$gray: #777574;
$lightGray: #ececec;
$blueNeon: #7FDFED;
$lightBlueNeon: #93FFFF; //for btn-primary
$dullBlueNeon: #7ED6D6;
$greenNeon: #49FF9E; // for btn-success
$greenNeonActive: #47E88A;
$pink : #ff67ff;
$pinkNeon: #F9C3FF;
$pinkNeonActive: #E9A2ED;
$yellow: #ffff6e;
//$transparent: rgba(0,0,0,0);

/*****
*FONT
*****/

$font-stack: 'Fredoka One', "Helvetica Neue", Helvetica, Arial, sans-serif;


@mixin chat-basic-shadow ($shadow) {
	color: $white;
	text-shadow: 0px 3px 0px rgba(0,0,0,1), 
    0px -2px 0px rgba(0,0,0,1),
    1px 0px 0px rgba(0,0,0,1), 
    -1px 0px 0px rgba(0,0,0,1), 
    0px 0px $shadow rgba(255, 255, 255,1);	
}

@mixin chat-yellow-shadow ($shadow) {
	  color: $yellow;
	  text-shadow: 0px 2px 0px rgba(0,0,0,1),
	  0px 0px 20px rgba(45,255, 255,1);
}

@mixin chat-pink-shadow ($shadow) {
    color: $pink;
	text-shadow: 0px 2px 0px rgba(0,0,0,1),
	0px 0px 20px rgba(45,255, 255,1);
}

@mixin font-stack($font, $shadow) {
	font-family : $font-stack;
	font-weight : 300;
    font-size: $font;
    @include chat-basic-shadow($shadow);
}





body {
	padding-top: 100px;
	padding-bottom: 40px;
}


/*************
*BUTTON STYLES
*************/
.btn-primary {
  color: $black;
  background-color: $lightBlueNeon;
  border-color: transparent;
  border-width: 2px;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: $black;
  background-color: #82E0E0;
  border-color: $black;
  border-width: 2px;
}

.btn-primary.disabled, .btn-primary[disabled], fieldset[disabled] .btn-primary, .btn-primary.disabled:hover, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary:hover, .btn-primary.disabled:focus, .btn-primary[disabled]:focus, fieldset[disabled] .btn-primary:focus, .btn-primary.disabled:active, .btn-primary[disabled]:active, fieldset[disabled] .btn-primary:active, .btn-primary.disabled.active, .btn-primary[disabled].active, fieldset[disabled] .btn-primary.active {
background-color: $dullBlueNeon;
border-color: $dullBlueNeon;
}

.btn-success {
  color: $black;
  background-color: $greenNeon;
  border-color: transparent;
  border-width: 2px;
}
.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
  color: $black;
  background-color: $greenNeonActive;
  border-color: $black;
  border-width: 2px;
}

.btn-success-pink {
  color: $black;
  background-color: $pinkNeon;
  border-color: transparent;
  border-width: 2px;
}
.btn-success-pink:hover,
.btn-success-pink:focus,
.btn-success-pink:active,
.btn-success-pink.active,
.open .dropdown-toggle.btn-success-pink {
  color: $black;
  background-color: $pinkNeonActive;
  border-color: $black;
  border-width: 2px;
}

/******
*NAVBAR
*******/

.navbar-inverse {

	background-color: transparent;
	border-color: transparent;

	 .navbar-brand  {
		  height: 30px;
	      width: 39px;
   }
 }



.navbar-inverse .navbar-nav > .active > a {
  color: $gray;
  background-color: transparent;
 }

.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: $blueNeon;
  background-color: transparent;
}


.navbar-nav.navbar-right:last-child {
  margin-right: 7px;
}


.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
color: $blueNeon;
}

.navbar-inverse .navbar-collapse {
	border-color: transparent;
}

@media only screen and (max-width: 766px) {
.collapsing, .in {background-color: $blueNeon;}
.collapsing ul li a, .in ul li a {
		color: $black !important;
		font-size: 16px!important;
}
.collapsing ul li a:hover, .in ul li a:hover {color: #fff !important;}
}

.navbar-inverse .navbar-toggle, .navbar-room .navbar-toggle {
    border-color: #FFF4F4;
    background-color: $blueNeon;
}


/******************Room NAVBAR headerRoom.soy*****************/

.navbar-room {
	@extend .navbar-inverse;

	.navbar-inverse {
		background-color: transparent;
		border-color: transparent;
	}
}


/******
*FORMS
*******/

.form-login {
	padding: 19px 29px 29px;
	margin: 0 auto 20px;
	margin-top: 20px;
	background-color: $white;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;

	h2 {
		text-align: center;
		margin-top: 10px;
		margin-bottom: 10px;
	}

	h4 {
		text-align: center;
		color: $gray;
	} 

	.form-control {
		 position: relative;
		 font-size: 16px;
		 height: auto;
		 padding: 10px;
		@include box-sizing(border-box);

		&:focus {
		  z-index: 2;
		}
	}

	#email {
	    margin-bottom: -1px;
	    margin-top: 25px;
	}


    #password {

    }

	.btn-primary {
		margin-top: 25px;
		margin-bottom: 25px;
	}
}

.form-signup {
	@extend .form-login;
    
    #username {
		margin-top: -1px;
		margin-bottom: 20px;
    }  
	
	#about {
		margin-bottom: -1px;
	}

	#location {
		margin-bottom: -1px;
	}

	#url {
		margin-bottom: 25px;
	}

	#passwordConfirmation {
		margin-top: -1px;
		margin-bottom: 25px;
	}
}


.broadcast-form {
	padding: 19px 29px 29px;
	margin: 20px auto 20px auto;
	box-shadow: 4px 6px 9px $lightGray;
	border-style: solid;
    border-width: 2px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	border-color: $pinkNeon;

	h2 {
		text-align: center;
		padding-bottom: 15px;
		//margin-top: 0px;
	}
	
	input[type="text"] {
		font-size: 16px;
		height: auto;
		margin-bottom: 25px;
	}

	.btn-success {
		margin-bottom: 25px;
	}
}

/************
*wELCOME PAGE
*************/

.jumbotron {
	text-align: center;
	background-color: $white;

	h1 {
	   font-weight: 700;
	}
	
	h2 {
		font-size: 1.9em;
	}

	a {
		margin: 0px 10px 0px 10px;
	}

	#alpha {
		color: $pink;
		font-size: 0.3em;
		font-weight: 700;
	}	

	#intro-text {
		color: $black;
		width: 65%;
		margin-left:  auto;
		margin-right: auto;
	}

	#intro-sub-text {
	   @extend #intro-text;
	   width: 50%;
	   font-size: 17px;
	}

}

@media(max-width: 500px) { 
    .jumbotron {
        h2 {
        	 font-size: 1.2em;
        }

	#intro-text {
		width: 100%;
	   }

	 #intro-sub-text {
	   width: 75%;
	   font-size: 14px;
	 } 
  }
}



/*****************
*USER PROFILE PAGE
*****************/

.user-profile {
	padding: 19px 29px 29px;
	//border: 1px solid $lightBlueNeon;
	color: $gray;
    -webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	text-align: center;
	

	h1 {
		font-size: 20px;
		margin-top: 0px;
	}

	h2 {
		font-size: 12px;
		margin-top: 0px;
	}

	  #url {
	 	  font-style:italic;
	  }

	  #edit {
	  	  float: right;
	  }

}

/********************************************
*Room Styles
*********************************************/

#invite-button {

    button {
     	float: right;
    }
}

#live-viewers {
        @include font-stack(25px, 0px);
     	float: right;
     	padding: 3px 3px 3px 3px;
     	margin-bottom: 5px;
     	z-index: 10000;
}

.videoScreen {
	position: fixed;
	padding:0;
	margin:0;
	width: 100%;
	height: 100%;
	top: 0px;
	//background: url(/images/boiler.png) center;
	background: pink;
	background-size: 100%;

    #title {
		color: black;
		margin-left: 188px;
        margin-top: 15px;		
	}
	

}



.fullScreen {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
  -webkit-filter: $Brightfilter;

}

#RoomTitleContainer {
	margin-left: 2.9em;
}

@mixin room-header($margintop, $fontsize, $shadow) {
    @include font-stack($fontsize, $shadow);
	color: $white;
	margin-left: 1em;
	margin-top: $margintop;
	margin-bottom: -6px;
	line-height: 2.4;
}

#roomTitle { 
	@include font-stack(20px, 10px);
	color: $white;
	margin-top: 10px;
	margin-bottom: -18px;
	line-height: 2.4;
}


#roomUrl {
	@include font-stack(15px, 0px);
	color: $white;
	line-height: 2.4;
}

@media(min-width:320px) {
    #roomTitle {
        font-size: 17px;
    }

	.navbar-nav > li > a {
	    padding-top: 15px;
	    padding-bottom: 15px;
	}
}

@media(min-width:768px) {
    #roomTitle {
        font-size: 20px;
    }

    #roomUrl {
        font-size: 17px;
    }
}





.video-wrapper:after {
  z-index: -60;
  content: ' ';
  clear: both;
  display: block;
}

.video-wrapper-peer:after {
  z-index: -70;
  content: ' ';
  clear: both;
  display: block;
}

.bottomSection {
	position: fixed;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	bottom:60px;
}

#chatMessages {
		@include font-stack(25px, 0px);
		@extend .bottomSection;
	p {
			color: white;
			//font-size: 20px;
			margin-top: 20px;
			text-align: center;

   }

   li {
     @extend p;
   }
}

.highlight {
	background: rgba(0, 0, 0, 0.8);
	padding: 10px 10px 10px 10px;
  }




.chatContainer {
	position: fixed;
	right: 0;
	left: 0;
	bottom: 0;
	margin-left: auto;
	margin-right: auto;
	
	

	h3 {
		color: white;
		
	}

	form[role="form"] {
		.form-group {

		     .chatInputField {
		     	overflow: hidden;
		     	padding-right: 10px;
		     	padding-left: 5px;

					input[type="text"] {
						color: white;
						
						background: rgba(27,185,185,0.8);
						width: 100%;
						height: 37px;
						font-size: 20px;
						}

						::-webkit-input-placeholder {
						   color: white;
						   font-style: italic;
						}

						:-moz-placeholder { /* Firefox 18- */
						   color: white;
						   font-style: italic;  
						}

						::-moz-placeholder {  /* Firefox 19+ */
						   color: white;  
						   font-style: italic;
						}

						:-ms-input-placeholder {  
						   color: white;  
						   font-style: italic;
						}
		     }
			
			input[type="submit"] {
					float: right;
					margin-right: 5px;

			}
			
		}
	}

}

.usernameContainer { 
   @extend .chatContainer;
   	form[role="form"] {
		.form-group {
		     .chatInputField {
					input[type="text"] {						
						background: rgba(0,0,0,0.8);
						}
		     }			
		}
	}
 }

canvas {
    display: block;
	float: right;
	padding-right: 20px;
}

#canvasContainer {
	@extend .bottomSection;
}

/** for modal active background **/
@media only screen and (max-width: 766px) {
	.collapsing, .in {
	    background-color: transparent;
	}
}

.modal-content {
	margin-top: 100px;
}

.modal-backdrop {
	z-index: -1;
}

