/**
* Invite only page
*/


#jamoutGif{
	background: url(/images/jlogo.gif) center;
	margin: auto;
    width: 300px;
    height: 228px;
    display: block;
}

.inviteonly {
		font-family: Roboto;
	&-title {
	    font-weight: 800;
	    text-align: center;
	    margin-bottom: -26px;
	    font-style: italic;
	}
}