@import "variables";

/*****************
*USER PROFILE PAGE
*****************/

/*
* Setup the base
*/
%profile--base {
	padding: 19px 29px 29px;
	color: $gray;
    -webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	text-align: center;
}

/*
* Setup properties
*/
%profile--font {
	&-h1 {
		font-size: 20px;
		margin-top: 0px;
	}
	
	&-h2 {
		font-size: 12px;
		margin-top: 0px;	
		
 	}
	&-italic {
	 	@extend %profile--font-h2;
		font-style:italic;
	}
	
}
/**
* Make properties accessible through __ methods
*/
.user-profile {

 	@extend %profile--base;	

	&__primary-text {
		@extend %profile--font-h1;
	}

	&__secondary-text {
		@extend %profile--font-h2;
		
	}
	&__url {
	   @extend %profile--font-italic;
	}

    &__edit {
  	  float: right;
  }

}