@import url(https://fonts.googleapis.com/css?family=Fredoka+One);

/****
*LOGO
*****/
$logo: 'jlogo3d.png';

/*******************
*DEFAULT VIDEO FILTER
********************/

$Brightfilter : brightness(110%) contrast(90%);

/*****
*Colors
******/

$white: #FFFFFF;
$black: #1C1C1C;
$gray: #777574;
$redAlert: #A40000;
$lightGray: #ececec;
$blueNeon: #7FDFED;
$lightBlueNeon: #93FFFF; //for btn-primary
$darkBlueNeon : #39e1e1; // for a tags and text
$dullBlueNeon: #7ED6D6;
$greenNeon: #49FF9E; // for btn-success
$greenNeonActive: #47E88A;
$pink : #ff67ff;
$pinkNeon: #F9C3FF;
$pinkNeonActive: #E9A2ED;
$yellow: #ffff6e;
//$transparent: rgba(0,0,0,0);

/*****
*FONT
*****/

$font-stack: 'Fredoka One', "Helvetica Neue", Helvetica, Arial, sans-serif;
