@import url(https://fonts.googleapis.com/css?family=Fredoka+One);
@import url(https://fonts.googleapis.com/css?family=Sniglet:400,800);

/****
*LOGO
*****/
$logo: 'jlogo3d.png';

/*******************
*DEFAULT VIDEO FILTER
********************/

$Brightfilter : brightness(110%) contrast(90%);

/*****
*Colors
******/

$white: #FFFFFF;
$black: #1C1C1C;
$gray: #777574;
$gray2: #A8A8A8;
$lightGray: #ececec;
$lighterGray: #C0C0C0;
$redAlert: #A40000;
$blueNeon: #7FDFED;
$lightBlueNeon: #93FFFF; //for btn-primary
$darkBlueNeon : #39e1e1; // for a tags and text
$dullBlueNeon: #7ED6D6;
$greenNeon: #49FF9E; // for btn-success
$greenNeonActive: #47E88A;
$greenNeonBright: #00FFB2;
$pink : #ff67ff;
$pinkNeon: #F9C3FF;
$pinkNeonActive: #E9A2ED;
$yellow: #ffff6e;
$transparent: rgba(0,0,0,0);


/*****
*FONT
*****/
$font-headline: 'Sniglet', cursive;
$font-stack: 'Roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;
