/**
* WELCOME PAGE STYLES
*/

$default-text-shadow-color: rgb(255, 255, 255);
$default-text-shadow-blur: 0px;
$default-text-shadow-h-offset: -5px;
$default-text-shadow-v-offset: 0px;

@import "variables";
@import "compass/css3/images";
@import "compass/css3/text-shadow";
@import "compass/css3/background-clip";


%welcome--base {
	font-family: Roboto;
	text-align: center;
	background-color: transparent;
	color: $white;
}

%welcome--font {
	&-h1 {
	   font-weight: 700;
       font-style: italic;
       font-size: 17em;
       margin-bottom: 0px;
      background-image: -webkit-linear-gradient(left, #FF93FF, #4AFFFF, #FDA4FF, #4AFFFF );
       @include single-text-shadow;
	    @include background-clip(text);
	    color: #fff;
	    display: inherit;
	    text-fill-color: transparent;
	    -webkit-text-fill-color: transparent;
	    -webkit-text-decorations-in-effect: inherit;
	    @include text-shadow(-5px 0px 0px rgb(255, 255, 255));
	}
	&-h2 {
		font-size: 3.1em;
		font-weight: 200;
		color: $white;
		width: 88%;
		margin-left:  auto;
		margin-right: auto;
		margin-top: 0px;
		margin-bottom: 14px;
	}
	&-a {
		margin: 0px 10px 0px 10px;
	}
}

.welcome {
	
	@extend %welcome--base;

	&__primary-text {
	    @extend %welcome--font-h1;
	}
	
	&__secondary-text {
 		@extend %welcome--font-h2;
	}

	&__sub-text {
	   @extend %welcome--font-h2;
	   font-weight: 300;
	   width: 50%;
	   font-size: 20px;
	}

	&__a {
		@extend %welcome--font-a;
	}

	#alpha {
		font-size: 0.15em;
		font-weight: 400;
		color: $pink;
	}	

}

@media(max-width: 500px) { 
    .welcome {
        &__primary-text {
        	 font-size: 6.0em;
        }
        &__secondary-text {
        	 font-size: 2.5em;
        	 width: 100%;
        }

	 	&__sub-text {
	  		 width: 75%;
	   		font-size: 0.7em;
	    } 
  }
}


